/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/nunito-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/pt-mono-v13-latin-regular.woff2") format("woff2");
}

/* Hyperlink */
a {
  color: #318fc9;
  text-decoration: none;
}

body,
footer {
  font-family: "Nunito", sans-serif;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 21px;
}

:root {
  /* Color-Palette */

  /* Darkmode-Colors */
  --darkmode-bg: #121212;
  --darkmode-mainsec: #212529;
  --darkmode-innersec: #1b1e22;
  --darkmode-sectitle: #14161a;
  --darkmode-pgh: #212329;

  /* Lightmode-Colors */
  --lightmode-bg: #ffffff;

  /* Font-Colors */
  --dark-font: #0b0e14;
  --light-font: #f8f8f8;

  /* Colors */
  --red: #3a201c;
  --cyan: #1c343a;
  --green: #1c3a33;
  --blue: #1c283a;
  --purple: #211c3a;
  --lilac: #351c3a;
  --shadow: #00000040;
}

/* Darkmode/Lightmode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darkmode-bg);
    color: var(--light-font);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--lightmode-bg);
    color: var(--dark-font);
  }
}

/* Homepage */

/* About-sec */
.about__sec {
  margin: auto;
  margin-top: 100px;
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-mainsec);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 8px 8px var(--darkmode-sectitle);
}

.about__sec-link,
.blog__sec-link {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

.seclink__btn {
  text-align: center;
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-innersec);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  width: 30px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--darkmode-mainsec);
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.notification.show {
  opacity: 1;
  visibility: visible;
}

.info__sec {
  height: fit-content;
  width: 522px;
  background-color: var(--darkmode-innersec);
  border-radius: 10px;
  padding: 10px;
}

.about__pfp {
  height: 200px;
  border: 10px solid;
  border-radius: 20px;
}

.about__nametag {
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-sectitle);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.about__desc {
  font-family: "Nunito", sans-serif;
  height: fit-content;
  width: 500px;
  background-color: var(--darkmode-pgh);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

/* Quicklinks */
.quicklinks__box {
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-innersec);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}

.quicklinks__title,
.sort__title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-sectitle);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.btn__quicklinks,
.btn__sort {
  display: flex;
  flex-direction: column;
}

.btn__github,
.btn__email,
.btn__blog,
.btn__img,
.btn__clients,
.btn__projects,
.btn__coding,
.btn__reviews,
.btn__other {
  font-family: "Nunito", sans-serif;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.btn__github,
.btn__clients {
  background-color: var(--purple);
}

.btn__email,
.btn__projects,
.btn__other {
  background-color: var(--blue);
}

.btn__blog,
.btn__coding {
  background-color: var(--red);
}

.btn__img,
.btn__reviews {
  background-color: var(--cyan);
}

/* Blog-Section */
.blog__sec {
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-mainsec);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 50px;
  box-shadow: 8px 8px var(--darkmode-sectitle);
}

.blog__title {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-sectitle);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.blog__content {
  display: flex;
}

.blog__left {
  flex: 1;
}

.blog__right {
  flex: 1;
}

.blogcard__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: var(--darkmode-innersec);
}

.blogcard__box {
  width: 260px;
  height: 350px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--darkmode-pgh);
}

.tag__date {
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  font-family: "Nunito", sans-serif;
}

.tag__category {
  height: fit-content;
  width: fit-content;
  background-color: #1c363a;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  font-family: "Nunito", sans-serif;
}

.blogcard__thumb {
  object-fit: cover;
  width: 260px;
  height: 200px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.blogcard__title {
  margin: auto;
  font-size: 1.4rem;
  padding-bottom: 2px;
  font-family: "Nunito", sans-serif;
}

.blogcard__tags {
  padding-top: 5px;
  display: inline-block;
  padding-bottom: 5px;
  user-select: none;
}

.blogcard__desc {
  height: fit-content;
  width: fit-content;
  padding: 5 px;
  margin: auto;
  padding-right: 10 px;
  font-family: "Nunito", sans-serif;
}

/*Blogs*/
.header__sec {
  background-color: var(--darkmode-mainsec);
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  margin-top: 5px;
  padding: 10px;
  margin: auto;
  box-shadow: 8px 8px var(--darkmode-sectitle);
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header img {
  margin: 0 auto;
  border: 5px solid var(--green);
  border-radius: 10px;
  object-fit: cover;
  width: 900px;
  height: 500px;
}

.blog__title {
  background-color: var(--darkmode-sectitle);
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  margin-top: 5px;
}

.blog__tags {
  margin-top: 20px;
}

.blog__date {
  margin-right: 10px;
  font-size: 20px;
  background-color: var(--darkmode-sectitle);
  padding: 5px 10px;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  font-size: 20px;
}

.blog__category {
  background-color: #1c363a;
  color: white;
  padding: 5px 10px;
  height: fit-content;
  width: fit-content;
  background-color: var(--red);
  border-radius: 5px;
  font-size: 20px;
}

.blog__desc {
  background-color: var(--darkmode-innersec);
  border-radius: 10px;
  height: fit-content;
  width: 500px;
  margin-top: 5px;
  padding: 10px;
  margin: auto;
}

p {
  text-align: center;
  height: fit-content;
  width: 700px;
}

/*MIT*/
.mit__box{
    background-color: var(--darkmode-innersec);
  border-radius: 10px;
  height: fit-content;
  width: 800px;
  margin-top: 5px;
  padding: 10px;
  margin: auto;
}

/*Dashboard*/
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 100px;
  height: fit-content;
  width: fit-content;
  background-color: var(--darkmode-sectitle);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 400px;
}
